.root {
  display: flex;
  flex-wrap: wrap;
}

.node {
  color: gray;
  outline: none;
  flex-grow: 1;
  flex-shrink: 0;
}

.anchorPoint {
  width: 20px;
  margin-right: 10px;
  display: flex;

  &::after {
    content: '';
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(7px);
  }
}

.childNodeList {
  width: 100%;
  padding-left: 30px;
}
