.root {
  background: rgba(255, 175, 75, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 175, 75, 1) 0%,
    rgba(255, 146, 10, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(255, 175, 75, 1)),
    color-stop(100%, rgba(255, 146, 10, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 175, 75, 1) 0%,
    rgba(255, 146, 10, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(255, 175, 75, 1) 0%,
    rgba(255, 146, 10, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(255, 175, 75, 1) 0%,
    rgba(255, 146, 10, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 175, 75, 1) 0%,
    rgba(255, 146, 10, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}
